html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
    background-color: rgb(255, 240, 200);
    height: 100%;
}

.main-container {
    width: 70%;
    height: 100%;
    margin: auto;
    background-image: linear-gradient(to right, #895f28, #7f5421, #74491a, #6a3e13, #5f340c, #66360a, #6d3707, #753905, #914705, #af5505, #cd6304, #ed7203);
}

.header {
    color: #fff;
    font-weight: 700;
    font-size: 4em;
    text-align: center;
    padding: 30px 0px;
}

.container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10em 10em;
    background: #fff;
    border: 2px solid green;
}

#left-score {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 2px 50px;
    justify-content: center;
    align-items: center;
}

#right-score {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.picks{
    display: flex;
    flex-direction: row;
}

#left-score img, #right-score img {
    margin: 15px;
    width: 5em;
    height: 5em;
    -webkit-box-shadow: 5px 2px 18px -5px #000000; 
    box-shadow: 5px 2px 18px -5px #000000;
}

#right-img {
    transform: rotateY(180deg);
}

#res {
    padding: 30px;
    text-align: center;
}

#res h2{
    font-size: 3em;
    color: #fff;
    font-weight: 700; 
}
